
    #classicformpage .view {
      background-image: url("../../../images/grassBackground.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100vh;
    }
    
    #classicformpage .gradient {
      background: -webkit-linear-gradient(45deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0.3)  100%);
      background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
      background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    }
    
    #classicformpage .card {
      background: -webkit-linear-gradient(45deg, rgba(-17, 94, 45, 0.3), rgba(0, 255, 0, 0.3)  100%);
    }
    
    #classicformpage h6 {
      line-height: 1.7;
    }
    
    #classicformpage .navbar {
      transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    .top-nav-collapse {
      background: black !important;
    }
    
    #classicformpage label {
      color: #fff!important;
    }
    
    
    input.form-control{
      color: white
    }
    .md-form
    input[type=text]{
      color:white;
    }
    .md-form .prefix ~ input, .md-form .prefix ~ textarea{
      color: white
    }

input {
  width: 378px
}
/* media queries=============================================================================================================== */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
 img{
   width: 400px;
   height: 300px;
   margin-bottom: -105px;
   margin-left: 22px;
   margin-top: 73px;
 }
 input {
   width: 334px;
 }
 
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
  img {
    margin-left: -62px;
    margin-top: 87px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  input {
    width: 292px;
  }
  }
/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){


  }




@media only screen and (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
      background: transparent !important;
  }
}

/* @media (max-width: 991px){
  input {
    width: 288px;
  }
  img {
    width: 400px;
    height:300px;
    margin-left:-90px;
    margin-top: 103px;
  }
  .pic-header {
    font-size: 40px!important;
  }

} */

