
    #classicformpage .view {
      background-image: url("../../../images/grassBackground.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: fixed center;
      height: 100vh;
    }
    
    #classicformpage .gradient {
      background: -webkit-linear-gradient(45deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0.3)  100%);
      background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
      background: linear-gradient( 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    }
    
    #classicformpage .card {
      background: -webkit-linear-gradient(45deg, rgba(-17, 94, 45, 0.3), rgba(0, 255, 0, 0.3)  100%);
    }
    
    #classicformpage h6 {
      line-height: 1.7;
    }
    
    #classicformpage .navbar {
      transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    .top-nav-collapse {
      background: black !important;
    }
    
    #classicformpage label {
      color: #fff!important;
    }
    
    
    input.form-control{
      color: white
    }
    .md-form
    input[type=text]{
      color:white;
    }
    .md-form .prefix ~ input, .md-form .prefix ~ textarea{
      color: white
    }

input {
  width: 378px
}
/* media queries=============================================================================================================== */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
 /* .card{
   width: 340px;
   margin-left: 10px;
 } */
 input.signup-input{
   width: 300px;
 }
 input{
   width: 305px;
 }
 img.login-pic {
  display:none!important;
 }

}
@media only screen and (min-width: 320px) {
  /* .card {
    width: 250px;
  } */
  input{
    width: 220px;
  }
}
 /*==========================================================login page media queries============================================================================== */

/* Ipad Mini=============================== */
  @media only screen and (min-width: 768px) and (max-width:1024px) {
    img.login-pic{
      margin-left: -113px;
    }
    input{
      width: 210px;
    }
    input.signup-input{
      width: 293px;
    }
    .text-md-left{
      margin-top: 83px;
    }
    img.login-pic{
      width: 350px;
      height: 300px;
      margin-left:10px;
    }
  }


  /* Ipad Pro=============================== */
  @media only screen and (min-width: 1366px) {
    img.login-pic{
      margin-left: -14px;
      margin-top: 43px;  
    }
    /* .card{
      width: 400px;
     } */
   
  }


  @media only screen and (min-width: 1275px) {
    input{
      width: 405px;
    }
    img.login-pic{
      margin-top: 20px;
      margin-left: 60px;
    }
    input.signup-input{
      width: 410px;
    }
  }

  @media only screen and (min-width:1024px){
   /* .card{
    width: 337px;
   } */
    
  }
/* Ipad Pro===============================
@media only screen and (min-width: 600px) {
  
  img.login-pic{
    margin-left: 59px;
    margin-top: 406px;
    width: 400px;
    height: 300px;
  }
  input{
    width: 360px;
  }
  #classic-card{
    width: 400px;
    height: 400px;
    margin-left: 48px;
  }

} */











@media only screen and (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
      background: transparent !important;
  }
}



