/* ================================================================Media queries============================================================================= */
@media only screen and (max-width: 480px) and (min-width: 320px){
    img.weather-icon{
        width: 153px;
        height: 153px;
        margin-left: 68px;
        margin-top: -11px;
        margin-bottom: -19px;
    }
}

@media only screen and (max-width: 404px) {
    img.weather-icon{
        
        margin-left: 108px!important;
        
    }
}

/* iPhone 6s Plus/7 Plus ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 414px){
    img.weather-icon{
        margin-left: 110px;
    }
    li.weather-list{
        font-size: 15px!important;
    }
    h5.card-title{
        font-size: 20px!important;
    }
}

/* iPhone 6/6s/7 ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 375px){
    img.weather-icon{
        margin-left: 90px;
    }
    li.weather-list{
        font-size: 15px!important;
    }
    h5.card-title{
        font-size: 20px!important;
    }
}


/* Samsung Galaxy S5/S6/S7 ---------------------------------------------------------------------------------------------------------- */
 @media only screen and (min-width: 360px){ 
    img.weather-icon{
        margin-left: 109px;
    }
    li.weather-list{
        font-size: 15px!important;
    }
    h5.card-title{
        font-size: 20px!important;
    }
} 

/* iPads ---------------------------------------------------------------------------------------------------------- */
 @media only screen and (min-width: 1024px){ 
    img.weather.icon{
        margin-left: 36px!important;
        margin-top: 31px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 15px!important;
    }
    h5.card-title{
        font-size: 20px!important;
    }
} 

/* iPad Pro ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1366px) {
    img.weather-icon{
        margin-left: 60px!important;
        margin-top: 31px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 25px!important;
    }
    h5.card-title{
        font-size: 30px!important;
    }
}


/* iPad Mini ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    img.weather-icon{
        margin-left: 10px!important;
        margin-top: 31px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 15px!important;
    }
    h5.card-title{
        font-size: 20px!important;
    }
}

/* Nexus 9 ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1024px) {
    img.weather-icon{
        margin-left: 35px!important;
        margin-top: 31px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 15px!important;
    }
    h5.card-title{
        font-size: 20px!important;
    }
}

/* 22' desktop screens ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1680px) {
    img.weather-icon{
        margin-left: 110px!important;
        margin-top: 50px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 25px!important;
    }
    h5.card-title{
        font-size: 30px!important;
    }
}

/* 15' notebook screens ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1366px) {
    img.weather-icon{
        margin-left: 65px!important;
        margin-top: 31px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 25px!important;
    }
    h5.card-title{
        font-size: 30px!important;
    }
}

/* 13' notebook screens ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1275px) {
    img.weather-icon{
        margin-left: 55px!important;
        margin-top: 31px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 25px!important;
    }
    h5.card-title{
        font-size: 30px!important;
    }
}

/* 20' desktop screens ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1600px) {
    img.weather-icon{
        margin-left: 60px;
        margin-top: 31px;
        width: 108px;
        height: 84px;
    }
    li.weather-list{
        font-size: 25px!important;
    }
    h5.card-title{
        font-size: 30px!important;
    }
}

/* 19' desktop screens ---------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1440px) {
    img.weather-icon{
        margin-left: 75px;
        margin-top: 31px;
        width: 155px;
        height: 98px;
    }
    li.weather-list{
        font-size: 25px!important;
    }
    h5.card-title{
        font-size: 30px!important;
    }
}

/* Large screens --------------------------------------------------------------------------------------------------- */
@media only screen  and (min-width : 1824px) {
    img.weather-icon{
        margin-left: 103px!important;
        width: 140px;
        height: 140px;

    }
}

@media only screen and (max-width: 599px){
    img.weather-icon{
        margin-left: 103px!important;
        width: 140px;
        height: 140px;

    }
}

/* =======================================================================end of media queries======================================================================= */



/* weather forecast list.. description, max temp, and min temp===================================================== */
li.weather-list{
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 30px;
}

h5.card-title{
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 30px;
}

card.forecast-header{
    width: 100%;
}