

 .card-body2  {
   
    background-image: url("../images/cloudbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul.card-text{
    font-size: 1.9rem!important;
    color: #4285F4!important;  
}